* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}

body {
  background: url("../basic-webpage/images/bg-img.jpg");
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 150px;
  height: auto;
}

.right-navbar {
  text-decoration: none;
  align-items: center;
}

ul {
  list-style-type: none;
  padding-right: 40px;
  font-size: 20px;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: #070606;
  padding: 6px 20px;
  border: 1px solid transparent;
}

ul li a:hover {
  color: #d95332;
}

.sub-menu {
  display: none;
  padding-top: 6pp;
  position: relative;
}

.sub-menu ul {
  position: absolute;
}

.nav-container ul li:hover .sub-menu {
  display: block;
  position: absolute;
  margin-top: 10px;
}

.nav-container ul li:hover .sub-menu ul {
  display: block;
  margin: 8px;
}

.nav-container ul li:hover .sub-menu ul li {
  width: 70px;
  padding: 6px;
  text-align: left;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

h1 {
  font-size: 65px;
}

.button {
  margin-left: 500px;
}

.btn {
  text-decoration: none;
  font-size: 19px;
  padding: 8px 18px;
  border: 1px solid #171717;
  cursor: pointer;
  border-radius: 8px;
}

.btn:hover {
  background-color: #d67636;
}

footer {
  background-color: #312e2c;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 256px;
}
